
## <summary>policy for reviewbase_coin</summary>


########################################
## <summary>
##	Transition to reviewbase_coin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`reviewbase_coin_domtrans',`
	gen_require(`
		type reviewbase_coin_t, reviewbase_coin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, reviewbase_coin_exec_t, reviewbase_coin_t)
')


########################################
## <summary>
##	Execute reviewbase_coin server in the reviewbase_coin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`reviewbase_coin_initrc_domtrans',`
	gen_require(`
		type reviewbase_coin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, reviewbase_coin_initrc_exec_t)
')


########################################
## <summary>
##	Search reviewbase_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`reviewbase_coin_search_lib',`
	gen_require(`
		type reviewbase_coin_var_lib_t;
	')

	allow $1 reviewbase_coin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read reviewbase_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`reviewbase_coin_read_lib_files',`
	gen_require(`
		type reviewbase_coin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, reviewbase_coin_var_lib_t, reviewbase_coin_var_lib_t)
')

########################################
## <summary>
##	Manage reviewbase_coin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`reviewbase_coin_manage_lib_files',`
	gen_require(`
		type reviewbase_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, reviewbase_coin_var_lib_t, reviewbase_coin_var_lib_t)
')

########################################
## <summary>
##	Manage reviewbase_coin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`reviewbase_coin_manage_lib_dirs',`
	gen_require(`
		type reviewbase_coin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, reviewbase_coin_var_lib_t, reviewbase_coin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a reviewbase_coin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`reviewbase_coin_admin',`
	gen_require(`
		type reviewbase_coin_t;
		type reviewbase_coin_initrc_exec_t;
		type reviewbase_coin_var_lib_t;
	')

	allow $1 reviewbase_coin_t:process { ptrace signal_perms };
	ps_process_pattern($1, reviewbase_coin_t)

	reviewbase_coin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 reviewbase_coin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, reviewbase_coin_var_lib_t)

')

